@import "tailwindcss";


@custom-variant dark (&:is(.dark *));


@theme inline {
  --font-ovo: 'Ovo';
  --font-outfit: 'Outfit';

  --grid-cols-auto: repeat(auto-fit, minmax(200px, 1fr));

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-hover: var(--hover);
  --color-shadow: var(--shadow);
  --color-mobil-background: var(--mobil-background);
  --color-button: var(--button);
}

@layer base {
  :root {
    --hover: #fcf4ff;
    --background: #fff;
    --foreground: #000;
    --shadow-hover: 4px 4px 0 #000;
    --shadow-sm: 0 1px 3px rgb(0 0 0 / 0.2);
    --mobil-background: #fff1f2;
    --button: #021526;
  }

  .dark {
    --hover: #03346E;
    --background: #021526;
    --foreground: #fff;
    --shadow-hover: 4px 4px 0 #fff;
    --shadow-sm: 0 1px 3px rgb(255 255 255 / 0.4);
    --mobil-background: #03346E;
    --button: #021526;

  }
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: var(--grid-cols-auto);
  }

  .hover-shadow:hover {
    box-shadow: var(--shadow-hover);
  }

  .shadow-person {
    box-shadow: var(--shadow-sm);
  }
}